h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

p, div {
    font-family: 'Raleway', sans-serif;
}

.mid_nopad {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px
}

.top_nopad {
    text-align: center;
    margin-bottom: 0px
}

.bot_nopad {
    text-align: center;
    margin-top: 0px
}


.hamburger-line {
    background-color: #870202;
}

.shrink .navbar-toggle {
    margin-top: 3px !important;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}

.shrink {
    background: rgba(255, 255, 255, 0.5);
    height: 40px !important;
}

.shrink a {
    color: #870202;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.scroll-to-patch {
    position: relative;
    top: -40px;
    height: 40px;
    visibility: hidden;
}

.btn-primary {
    background: #3F79FF;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #1A48B2;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#content {
    margin-top: 60px;
}

#header-image {
    position: relative;
    width: 100%
}

#header-image img {
    width: 100%;
}

.text-in-header {
    position: absolute;
    text-align: center;
    top: 24%;
    width: 100%
}

#header-image h1 {
    color: #870202;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
}

#header-image h3 {
    color: #870202;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.section {
    padding-bottom: 50px;
}

.section .container {
    margin-top: -25px;
}

#my-about {
    background-color: #f0f0f0;
}

#my-portfolio {
    background-color: #fff;
}

#my-resume {
    background-color: #C5BBDA;
}

#my-references {
    background-color: #f0f0f0;
}

#my-courses {
    background-color: #ffffff;
}

#my-contact {
    background-color: #C5BBDA;
    padding-bottom: 0px;
}

span[class*="glyphicon-one-dot"] {
    margin-bottom: -.8em;
    overflow: hidden;
}

.glyphicon-one-dot-full:before {
    content: "\25cf";
    font-size: 3em;
}

.glyphicon-one-dot-emptyt:before {
    content: "\25cb";
    font-size: 3em;
}

/*About Me Styles*/
#my-about img {
    width: 100%
}

#my-about hr {
    border-top: 1px solid white;
}




.blurb {
    padding-top: 0px;
}

.dj_img:hover {
    background-image: url("../assets/gifs/dj_cat.gif ");
    background-size: auto 100%;
}

.diet_img:hover {
    background-image: url("../assets/gifs/diet2.gif ");
    background-size: auto 100%;
}

.other_img:hover {
    background-image: url("../assets/gifs/engineering.gif ");
    background-size: 100% 100%;
}

.concert_img:hover {
    background-image: url("../assets/gifs/concert.gif ");
    background-size: 100% 100%;
}

.dine_img:hover {
    background-image: url("../assets/gifs/dine.gif ");
    background-size: 100% 100%;
}

.clips_img:hover {
    background-image: url("../assets/gifs/scrooge.gif ");
    background-size: 100% 100%;
}

.backend_img:hover {
    background-image: url("../assets/gifs/matrix.gif ");
    background-size: 100% 100%;
}

.title-bar {
    text-align: center;
}

.underline {
    width: 300px;
    margin-right: auto;
    margin-left: auto
}

.my-button {
    border: solid #FFF;
    border-width: 1px;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;

}

.my-button:hover {
    background-color: white;
    color: darkgrey;
    text-decoration: none;
}

.my-button:active {
    background-color: whitesmoke;
    color: grey;
    text-decoration: none;
}

.my-button:focus {
    color: grey;
    background-color: white;
    text-decoration: none;
}

.fill-col {
    width: 100%
}

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#top-detail-section {
    margin-top: 0px;
}

.detail-section {
    text-align: left;
    margin-top: 50px;
}

.detail-section h1 {
    text-align: left;
}

.detail-section h2 {
    color: white;
    text-align: right;
}

.detail-section h3 {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0px;
}

.detail-section h4 {
    text-align: right;
    margin-top: 0px;
}

.detail-section h5 {
    text-align: right;
}

.detail-section p {
    margin-bottom: 3px;
    text-align: right;

}

.detail-section li {
    text-align: left;
}

.resume-label {
    font-weight: bold;
}

.detail-row {
    margin-bottom: 20px
}

.detail-row hr {
    border-top: 1px solid grey;
    margin-top: 3px;
    margin-bottom: 3px;
}

.detail-row p {
    text-align: left;
}

#my-courses .detail-section h2 {
    color: black;
}

#programming-languages-section .row {
    margin: 0
}

.programming-language-row {
    margin-bottom: 20px;
}

.icon-link img {
    height: 70px;
}

.confirmation-box h3 {
    text-align: center;
    margin-bottom: 20px;
}

.confirmation-box button {
    text-align: center;
    margin-bottom: 30px;
}

.confirmation-box span {
    text-align: center;
    margin-bottom: 30px;
}

.spinner {
    text-align: center;
}

@media (max-width: 992px) {
    .detail-section h3 {
        text-align: center;
        margin-top: 0px;
    }

    .detail-section h2 {
        text-align: center;
    }

    .detail-section h4 {
        margin-bottom: 3px;
        text-align: center;
    }

    .detail-section p {
        margin-bottom: 3px;
        text-align: center;
    }

    .detail-row hr {
        width: 50%
    }

    /*.star-section {*/
        /*margin-right: auto;*/
        /*width: 85px;*/
        /*margin-left: auto;*/
    /*}*/
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px;
}

.competency {
    width: 100px;
    height: 100%;
}

.competency-header{
    width: 100px;
    height: 150px;
    text-align: center
}

.competency-headers{
    height: 3em;
    display: flex;
}

.competency > p{
    text-align: center;
    font-size: large;
}

.competency-full {
    height: 100%;
    width: 100%;
    background-color: #002673;
    border: solid #002673 3px;
}

.competency-empty {
    height: 100%;
    width: 100%;
    border: solid #002673 3px;
}

.star-section {
    display: flex;
    height: 20px;
}